# Data PreProcessing

## Import Data

In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("data_final.csv")

In [45]:
df.head()

,temp,timestamp_local,city_name,country_code,aqi,co,no2,o3,pm10,pm25,so2
0,12.6,2022-02-01T00:00:00,Gujrāt,PK,385.0,1339.8,76.0,10.7,491.7,347.67,238.0
1,11.5,2022-02-01T01:00:00,Gujrāt,PK,404.0,1437.6,76.0,9.3,508.3,359.33,268.0
2,11.9,2022-02-01T02:00:00,Gujrāt,PK,421.0,1535.5,76.0,8.0,525.0,371.00,298.0
3,12.2,2022-02-01T03:00:00,Gujrāt,PK,425.0,1659.0,68.3,5.3,529.3,374.00,275.7
4,11.9,2022-02-01T04:00:00,Gujrāt,PK,430.0,1782.5,60.7,2.7,533.7,377.00,253.3

## Missing Values

In [38]:
df.isnull().sum()

temp                0
timestamp_local     0
city_name           0
country_code        0
aqi                74
co                 74
no2                74
o3                 74
pm10               74
pm25               74
so2                74
dtype: int64

In [39]:
df['timestamp_local'] = pd.to_datetime(df['timestamp_local'])
df.set_index('timestamp_local', inplace=True)
df.interpolate(method='time', inplace=True)

C:\Users\Hassan\AppData\Local\Temp\ipykernel_9608\801513000.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='time', inplace=True)

In [7]:
df['co'].interpolate(method='linear', inplace=True)

C:\Users\Hassan\AppData\Local\Temp\ipykernel_9608\1779685700.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['co'].interpolate(method='linear', inplace=True)

In [8]:
df['no2'].interpolate(method='linear', inplace=True)

C:\Users\Hassan\AppData\Local\Temp\ipykernel_9608\1827981864.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['no2'].interpolate(method='linear', inplace=True)

In [9]:
df['o3'].interpolate(method='linear', inplace=True)

C:\Users\Hassan\AppData\Local\Temp\ipykernel_9608\1819662422.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['o3'].interpolate(method='linear', inplace=True)

In [10]:
df['pm10'].interpolate(method='linear', inplace=True)

C:\Users\Hassan\AppData\Local\Temp\ipykernel_9608\2795150673.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pm10'].interpolate(method='linear', inplace=True)

In [11]:
df['pm25'].interpolate(method='linear', inplace=True)

C:\Users\Hassan\AppData\Local\Temp\ipykernel_9608\240827951.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pm25'].interpolate(method='linear', inplace=True)

In [12]:
df['so2'].interpolate(method='linear', inplace=True)

C:\Users\Hassan\AppData\Local\Temp\ipykernel_9608\2945241504.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['so2'].interpolate(method='linear', inplace=True)

In [41]:
# Round interpolated values to two decimal points
df['temp'] = df['temp'].round(0)

In [42]:
df.iloc[3574:3657]

,temp,city_name,country_code,aqi,co,no2,o3,pm10,pm25,so2
timestamp_local,,,,,,,,,,
2022-06-29 22:00:00,34.0,Gujrāt,PK,161.000000,205.600000,15.30,133.00,215.300000,160.670000,53.000000
2022-06-29 23:00:00,33.0,Gujrāt,PK,168.000000,204.300000,15.00,127.00,225.000000,168.000000,55.000000
2022-06-30 00:00:00,33.0,Gujrāt,PK,169.000000,197.100000,14.30,127.70,226.300000,169.330000,53.700000
2022-06-30 01:00:00,32.0,Gujrāt,PK,170.000000,189.900000,13.70,128.30,227.700000,170.670000,52.300000
2022-06-30 02:00:00,32.0,Gujrāt,PK,172.000000,182.700000,13.00,129.00,229.000000,172.000000,51.000000
...,...,...,...,...,...,...,...,...,...,...
2022-07-03 04:00:00,31.0,Gujrāt,PK,110.826667,122.809333,7.08,81.64,58.306667,40.773333,17.453333
2022-07-03 05:00:00,30.0,Gujrāt,PK,110.000000,122.000000,7.00,81.00,56.000000,39.000000,17.000000
2022-07-03 06:00:00,30.0,Gujrāt,PK,113.000000,127.200000,9.00,84.30,58.000000,40.330000,22.700000
2022-07-03 07:00:00,30.0,Gujrāt,PK,117.000000,132.500000,11.00,87.70,60.000000,41.670000,28.300000
2022-07-03 08:00:00,30.0,Gujrāt,PK,121.000000,137.700000,13.00,91.00,62.000000,43.000000,34.000000

In [32]:
df.to_csv("data_cleaned.csv")