# Data PreProcessing

## Import Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data_final.csv")

In [4]:
df.head()

,temp,timestamp_local,city_name,country_code,aqi,co,no2,o3,pm10,pm25,so2
0,12.6,2022-02-01T00:00:00,Gujrāt,PK,385.0,1339.8,76.0,10.7,491.7,347.67,238.0
1,11.5,2022-02-01T01:00:00,Gujrāt,PK,404.0,1437.6,76.0,9.3,508.3,359.33,268.0
2,11.9,2022-02-01T02:00:00,Gujrāt,PK,421.0,1535.5,76.0,8.0,525.0,371.00,298.0
3,12.2,2022-02-01T03:00:00,Gujrāt,PK,425.0,1659.0,68.3,5.3,529.3,374.00,275.7
4,11.9,2022-02-01T04:00:00,Gujrāt,PK,430.0,1782.5,60.7,2.7,533.7,377.00,253.3

## Missing Values

In [5]:
df.isnull().sum()

temp                0
timestamp_local     0
city_name           0
country_code        0
aqi                74
co                 74
no2                74
o3                 74
pm10               74
pm25               74
so2                74
dtype: int64